/* Variables */
:root {
    --verylightgrey: #eaeaea;
}


/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/***************************** 
            COMMON 
******************************/
body {
    background-color: #a6c3c0;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 100%;
}

main{
    width: 80%;
    margin: 0 auto;
}

.container {
    min-width: 800px;
    height: 100vh;
    font-size: 12px;
    padding: 20px 0;
    display: flex;
}

ul {
    list-style-type: none;
}

input {
    border: none;
    outline: none;
}

/****************************** 
             MAIN 
*******************************/
.header {
    justify-content: space-between;
}
.header, .inner-footer {
    padding: 10px;
    height: 50px;
    background-color: var(--verylightgrey);
    display: flex;
    align-items: center;
}

.content.left{
    display: flex;
    flex-direction: column;
}

.user-name {
    font-weight: 600;
    padding-left: 10px;
}

.actions {
    display: flex;
}

.icon {
    color: #b1b1b1;
    cursor: pointer;
}

/* Left Side ****************************/
.left-side {
    min-width: 330px;
    border-right: 2px solid #e2e2e2;
    background-color: white;
}

.contacts {
    background-color: white;
    flex-grow: 1;
}

/* Header */
.header .user-photo {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: contain;
    overflow: hidden;
    cursor: pointer;
}

.user-profile {
    display: flex;
    align-items: center;
}

.actions li{
    padding-right: 13px;
    font-size: 15px;
}

/* Notification Section */
.notifications{
    height: 53px;
    background-color: #8edafb;
    display: flex; 
    align-items: center;
    padding: 0 15px;
}
.notifications .icon {
    background-color: white;
    color: #8edafb;
    padding: 10px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.notification-text {
    padding-left: 10px;
}

.notification-text .text {
    font-size: 12px;
    font-weight: 600;
}

.notification-text .activation {
    font-size: 10px;
    text-decoration: underline;
    color: #807b7b;
    cursor: pointer;
}

/* Search Section */
.search {
    height: 40px;
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
}


.input-search input {
    padding-right: 110px;
    height: 30px;
    padding-left: 5px;
}
.input-search .fa-solid.fa-magnifying-glass {
    padding: 9px 10px;
    margin-left: 5px;
}

.input-search input, .input-search .fa-solid.fa-magnifying-glass{
    background-color: white;
}

/* Contact Section */
.contact-profile {
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.info-contact-wrapper {
    display: flex;
}

.contacts{
    overflow: auto;
    height: calc(100vh - 200px);
    cursor: pointer;
}

.contacts li:hover {
    background-color: rgb(236, 231, 231);
}

.contact-photo {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: contain;
    overflow: hidden;
    cursor: pointer;
}

.contact-name span:first-child{
    font-size: 14px;
    font-weight: 600;
}

.contact-info {
    padding-left: 15px;
}

.last-message {
    color: rgb(175, 174, 174);
    padding-top: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width:120px; 
}

.contact-profile .last-access {
    justify-self: flex-end;
}
/* Right Side ****************************/

.right-side {
    width: 100%;
    background-image: url('../img/mine.jpg');
}

.content.chat-content {
    height: calc(100vh - 140px);
    overflow: auto;
}

/* Header */
.active-contact {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.last-access {
    font-size: 10px;
    font-weight: 100;
    color: #807b7b;
}

.active-contact-info {
    display: flex;
    align-items: center;
}

.right-icons {
    display: flex;
    font-size: 15px;
    align-items: center;
}

.right-icons li {
    padding-right: 15px;
}

/* All Messages */
.chat-content {
    font-size: 13px;
    margin: 0 auto;
    padding: 25px 40px;
}


.sended-message {
    display: flex;
    justify-content: flex-end;
}

.max-length-message {
    margin: 10px 0;
    padding: 13px 13px 23px 13px;
    max-width: 85%;
    min-width: 140px;
    border-radius: 7px;
    position: relative;
}

.message-text {
    display: flex;
    justify-content: space-between;
}

.sent-message-time {
    font-size: 11px;
    color: rgb(175, 174, 174);
    position: absolute;
    padding-top: 5px;
    right: 5px;
}

.chevron {
    padding-left: 20px;
    cursor: pointer;
    color: transparent;
}

.max-length-message:hover .chevron{
    color: rgb(175, 174, 174);
}

.green {
    background-color: #d5f9ba;
}

.received-message {
    display: flex;
    justify-content: flex-start;
}

.white {
    background-color: #fff;
}

/* Menu Window */
.menu-window {
    background-color: white;
    border-radius: 7px;
    box-shadow: 5px 5px 10px lightgray;
    position: absolute;
    z-index: 1000;
    line-height: 30px;
    top: 30px;
    right: 10px;
    width: 160px;
}

.menu-window .info-message {
    border-bottom: 2px solid #ece9e9;
}

.menu-window li {
    padding: 5px 20px 5px 20px;
    cursor: pointer;
}

.menu-window li:hover {
    background-color: #ece9e9;
}


/* Inner Footer */
.inner-footer {
    background-color: #f3eeea;
    display: flex;
    justify-content: space-between;
}

.input-message {
    width: 100%;
    display: flex;
    justify-content: center;
}

.input-message input {
    width: 95%;
    height: 35px;
    border-radius: 5px;
    padding: 0 15px;
}

.inner-footer .icon {
    font-size: 18px;
    padding: 0 17px
}